<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration-2.0.xsd
		http://www.springframework.org/schema/integration/stream
		http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.0.xsd">
		
	<int:gateway id="product-gateway" service-interface="com.devblogs.Gateway" default-request-channel="request" />
	
	<int:channel id="request" />
	
	<int:service-activator input-channel="request" output-channel="response">
		<bean class="com.devblogs.MessageListener" />
	</int:service-activator>
	
	<int-stream:stdout-channel-adapter id="response" />
</beans>