<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/integration
						http://www.springframework.org/schema/integration/spring-integration-2.0.xsd
						http://www.springframework.org/schema/integration/stream
						http://www.springframework.org/schema/integration/stream/spring-integration-stream-2.0.xsd
						http://www.springframework.org/schema/integration/jms
						http://www.springframework.org/schema/integration/jms/spring-integration-jms-2.0.xsd
						http://www.springframework.org/schema/jms
						http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">

		<import resource="classpath:infrastructure.xml"/>
		
		<jms:listener-container connection-factory="connectionFactory" transaction-manager="transactionManager" acknowledge="transacted" concurrency="1">
			<jms:listener destination="request" response-destination="replies" ref="chunkHandler" method="handleChunk"/>
		</jms:listener-container>
		
		<int-stream:stdout-channel-adapter id="incoming" />
		
		<bean id="chunkHandler" class="org.springframework.batch.integration.chunk.ChunkProcessorChunkHandler">
			<property name="chunkProcessor">
				<bean class="org.springframework.batch.core.step.item.SimpleChunkProcessor">
					<property name="itemProcessor">
						<bean class="org.springframework.batch.item.support.PassThroughItemProcessor" />
					</property>
					<property name="itemWriter">
						<bean class="com.devblogs.batch.writer.ProductJdbcItemWriter">
							<constructor-arg ref="dataSource" />
						</bean>
					</property>
				</bean>
			</property>
		</bean>
</beans>